<div class="parent">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="loginObj.username" placeholder="Enter your Username" id="username" />

        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Enter your Password" id="password" />

        <button (click)="onLogin()" id="login-button">Log In</button>
    
    </form>
</div>

